<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkgWtY5T513N6orCBKdEyO0nG5YCEieDM</string>
	<key>GCM_SENDER_ID</key>
	<string>825582316169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edhost.chitchat.app</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-67a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-67a7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825582316169:ios:1d6ef113064fa33f77f458</string>
</dict>
</plist>